*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

node_modules/
plugins/
www/
resources/android/
resources/ios/

$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
