message {
  line-height: 2.0rem;
  font-size: 1.4rem;
  .heading-1 { font-size: 2rem; }
  .heading-2 { font-size: 1.8rem; }
  .heading-3 { font-size: 1.6rem; }

  .counter {
    color: #555;
    padding: 0 10px;
  }

  .hidden { display: none; }
  .quote  { padding: 0 20px; }

  .bold      { font-weight: bold; }
  .italic    { font-style: italic; }
  .underline { text-decoration: underline; }

  .right  { text-align: right; }
  .left   { text-align: left; }
  .center { text-align: center; }
}
